@import "tailwindcss";

@theme {
  --color-brand-50: #e7f0ff;
  --color-brand-100: #d0e2ff;
  --color-brand-200: #a6c8ff;
  --color-brand-300: #78aaff;
  --color-brand-400: #4a8cff;
  --color-brand-500: #1f77ff;
  --color-brand-600: #0866ff;
  --color-brand-700: #0053d6;
  --color-brand-800: #0042ab;
  --color-brand-900: #003182;
}
